@import "tailwindcss";

/* Design tokens */
:root {
  /* Primary */
  --color-primary-400: #a86415;
  --color-primary-300: #d18e1b;
  --color-primary-200: #e9ac32;
  --color-primary-100: #fabf42;
  --color-primary-50: #fed172;

  /* Secondary */
  --color-secondary-800: #17121d;
  --color-secondary-100: #0c0614;
  --color-secondary-75: rgba(12, 6, 20, 0.75);
  --color-secondary-50: rgba(12, 6, 20, 0.5);
  --color-secondary-25: rgba(12, 6, 20, 0.25);

  /* White */
  --color-white-100: #f4f1eb;
  --color-white-75: rgba(253, 252, 252, 0.75);
  --color-white-50: rgba(253, 252, 252, 0.5);
  --color-white-25: rgba(253, 252, 252, 0.25);

  /* Grey */
  --color-grey-500: #252422;
  --color-grey-400: #6b6862;
  --color-grey-300: #8f8c84;
  --color-grey-200: #bab8b3;
  --color-grey-100: #e4e2dd;
  /* Semantic */
  --color-primary: #d18e1b;
  --color-bg-main: #0c0614;
  --color-bg-card: #17121d;
  /* --background: var(--color-secondary-100);
  --card-bg: var(--color-secondary-800);
  --text-primary: var(--color-white-100);
  --text-muted: var(--color-grey-300);
  --accent: var(--color-primary-300);
  --accent-hover: var(--color-primary-400);*/
}

/* Base reset */
html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--color-bg-main);
  color: white;
  font-family: Inter, system-ui, sans-serif;
}
